---
import fs from "fs";
import matter from "gray-matter";
import path from "path";
import BlogPostCard from "../components/BlogPostCard.tsx";
import Footer from "../components/Footer.tsx";
import Navbar from "../components/Navbar.tsx";

import "../styles/global.css";

interface BlogFrontMatter {
    title: string;
    date: string;
    tags?: string[];
}

interface BlogPost {
    slug: string;
    frontmatter: BlogFrontMatter;
    excerpt: string;
    readingTime: string;
}

const blogDir = path.resolve("./src/content/blog");
const files = fs.readdirSync(blogDir).filter((f) => f.endsWith(".mdx"));

function calcReadingTime(content: string) {
    const words = content.split(/\s+/).length;
    const minutes = Math.ceil(words / 200); // 200 wpm avg
    return `${minutes} min read`;
}

const posts: BlogPost[] = files
    .map((file) => {
        const raw = fs.readFileSync(path.join(blogDir, file), "utf-8");
        const { data, content } = matter(raw);
        const excerpt = content.split("\n")?.slice(0, 150).toString() ?? "";
        const readingTime = calcReadingTime(content);

        return {
            slug: file.replace(/\.mdx$/, ""),
            frontmatter: data as BlogFrontMatter,
            excerpt,
            readingTime,
        };
    })
    .sort(
        (a, b) =>
            new Date(b.frontmatter.date).getTime() -
            new Date(a.frontmatter.date).getTime(),
    );
---


<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>My Blogs</title>
</head>

<Navbar />
<section class="border-outline">
    <div
        class="border-darkOutline min-h-[79vh] bg-darkBackground border-x lg:mx-48 md:mx-16 m-0 gap-4  md:py-12 py-6 lg:px-32 md:px-12 px-4"
    >
        <div
            class="flex flex-col justify-center items-center text-center text-white gap-4"
        >
            <h2 class="text-5xl font-monoHero font-bold mb-4">Blogs.</h2>
            <div class="space-y-6 flex flex-col">
                {
                    posts
                        .slice(0, 3)
                        .map((post) => (
                            <BlogPostCard
                                key={post.slug}
                                slug={post.slug}
                                title={post.frontmatter.title}
                                date={post.frontmatter.date}
                                excerpt={post.excerpt}
                                tags={post.frontmatter.tags}
                                readingTime={post.readingTime}
                            />
                        ))
                }
            </div>
        </div>
    </div>
</section>
<Footer />
